.countries-list {
  @include list();

  &__image {
    @include radius-top(10px);
  }

  &__description {
    @include radius-top(10px);
  }

  &__title {
    margin: 0;
    padding-top: 28px;
    padding-bottom: 8px;

    font-size: 21px;
    color: $color-navy;
  }

  &__number {
    color: $color-lightgray;
  }

  &__text {
    margin: 0;
    padding-bottom: 27px;

    color: $color-lightgray;
  }
}
