.level {
  &__number {
    margin: 0;

    font-size: 24px;
    color: $color-white;

    &--catalog {
      color: $color-royalblue;
    }
  }

  &__text {
    margin: 0;

    font-size: 14px;
    color: $color-white;
  }
}
