$color-navy: #161c35;
$color-nightblue: #192144;
$color-darkblue: #101d41;
$color-royalblue: #1d2e5b;
$color-darkgray: #444444;
$color-slategray: #e2e5f2;
$color-silver: #d4d9eb;
$color-smokegray: #edeff6;
$color-lightgray: #d2d2d2;
$color-white: #ffffff;
$color-carrot: #ff8d30;
$color-orange: #ffa530;
$color-tangerin: #ffbd30;
$color-yellow: #ffd74b;
